<ion-header>
	<ion-navbar color="primary">
		<ion-title text-align="left">{{this.MainHeader}}</ion-title>
		<ion-buttons end>
			<button ion-button round icon-end (click)="logOut()"> 
			  	<ion-icon name="log-out"></ion-icon>
			</button>	
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-card *ngIf="this.cntLastPatientsSignedUp > 0">
		<ion-card-header color="primary">
			Desde seu último acesso...
		</ion-card-header>
		<ion-card-content>
			<ion-row no-padding>
				<ion-col col-3 text-center>
					<span class="count">{{this.cntLastPatientsSignedUp}}</span>		
				</ion-col>
				<ion-col col-7 align-self-center>
					<span class="desc">{{this.lastPatientsSignedUp}}</span>
				</ion-col>
				<ion-col col-2>
					<button ion-button icon-only clear (click)="showPatientsSigned()">
						<ion-icon name="eye"></ion-icon>
					</button>
				</ion-col>
			</ion-row>		
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="this.cntAllPatients > 0">
		<ion-card-header color="primary">
			Você possui...
		</ion-card-header>
		<ion-card-content>
			<ion-row no-padding>
				<ion-col col-3 text-center>
					<span class="count">{{this.cntAllPatients}}</span>		
				</ion-col>
				<ion-col col-7 align-self-center>
					<span class="desc">pacientes em acompanhamento.</span>
				</ion-col>
				<ion-col col-2>
					<button ion-button icon-only clear (click)="patientsListPage()">
						<ion-icon name="eye"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="this.cntAllPatients == 0">
		<ion-card-header>
			Você ainda não possui pacientes!
		</ion-card-header>
		<ion-card-content>
			<button ion-button full round icon-end (click)="showPatientPrompt()">
			  	Paciente 
			  	<ion-icon name="add"></ion-icon>
			</button>
		</ion-card-content>
	</ion-card>
</ion-content>
<ion-footer *ngIf="this.cntAllPatients > 0">
	<ion-buttons end>
		<button ion-button round icon-end (click)="showPatientPrompt()">
		  	Paciente 
		  	<ion-icon name="add"></ion-icon>
		</button>	
	</ion-buttons>
</ion-footer>