<ion-header>
	<ion-navbar color="primary">
		<ion-title>Seus pacientes</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-card *ngFor="let patient of patientsList">
	    <ion-card-header class="header">{{ patient.name || patient.email }}</ion-card-header>
	    <ion-card-content>
	    	<ion-row no-padding *ngIf="!patient.birth">
				<ion-col col-12  text-left>
					<span class="alert">Paciente ainda não se cadastrou!</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="patient.birth">
				<ion-col col-6 text-left>
					<span class="title">Idade: </span>
					<span class="patient">{{ this.getAge(patient.birth) }}</span>
				</ion-col>
				<ion-col col-6 text-left>
					<span class="title">Sexo: </span>
					<span class="patient">{{ patient.gender }}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="patient.appointmentDate && patient.birth">
				<ion-col col-12 text-left>
					<span class="title">Consulta: </span>
					<span class="patient">{{ this.getAppointment(patient.appointmentDate, patient.appointmentTime) }}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="!patient.appointmentDate && patient.birth">
				<ion-col col-12 text-left>
					<span class="alert">Sem consulta agendada!</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="patient.birth" no-padding>
				<ion-col col-4 text-left>
					<button ion-button right icon-end clear (click)="showAppointmentPage(patient)" small>
						{{ patient.appointmentDate ? 'Reagendar' : 'Agendar'}}
						<ion-icon name="calendar"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-4 text-left>
					<button ion-button right icon-end clear (click)="showMessagePage(patient)" small>
						Mensagem
						<ion-icon name="mail"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-4 text-left *ngIf="patient.evaluationAnswered">
					<button ion-button right icon-end clear (click)="evaluationResultPage(patient)" small>
						Questionário
						<ion-icon name="clipboard"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
	    </ion-card-content>
	</ion-card>
</ion-content>
