<ion-header>
	<ion-navbar color="primary">
		<ion-title>Seus pacientes</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-card *ngFor="let patient of patientList">
	    <ion-card-header>
	      	{{ patient.name || patient.email}}
	    </ion-card-header>
	    <ion-card-content>
	    	<ion-row no-padding *ngIf="!patient.birth">
				<ion-col col-12  text-left>
					<span class="alert">Paciente ainda não se cadastrou!</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="patient.birth">
				<ion-col col-3 text-left>
					<span class="patient">{{ this.getAge(patient.birth) }}</span>
				</ion-col>
				<ion-col col-3 text-left>
					<span class="patient">{{ patient.gender }}</span>
				</ion-col>
				<ion-col col-4 align-self-center>
					<span class="patient"></span>
				</ion-col>
				<ion-col col-2>
					<button ion-button clear end>Ver</button>
				</ion-col>
			</ion-row>
	    </ion-card-content>
	</ion-card>
</ion-content>
