page-patientlist {
	overflow: auto;
}

.alert {
	color: red;
}

.patient {
    color: #488aff;	
    font-size: medium
}

.title {
	color: gray;
	font-size: small;
}

.header {
	color: #488aff;
	font-size: larger;
}