.nutri {
    color: #488aff;	
    font-size: large;
}

.title {
	color: gray;
	font-size: medium;
}

.header {
	color: gray;
	font-size: medium;
}

.alert {
	color: red;
	font-size: medium;
}

.custom-icon {
	font-size: 30px;
	color: gray;
}