<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{ this.ProfileHeader }}</ion-title>
		<ion-buttons end>
			<button ion-button round icon-end (click)="logOut()"> 
			  	<ion-icon name="log-out"></ion-icon>
			</button>	
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-card>
		<ion-card-header *ngIf="this.nutriData.name" text-wrap>
		    <span class="title">{{ (this.nutriData.gender == "Masculino" ? "Dr. " : "Dra. ") }}</span>
		    <span class="nutri">{{ this.nutriData.name }}</span>
		    <span class="title"> - CRN </span>
		    <span class="nutri">{{ this.nutriData.crn }}</span>
		    <span class="title">{{ (this.nutriData.gender == "Masculino" ? " é o seu nutricionista." : " é a sua nutricionista.") }}</span>  
		    <br>
		    <br>
		    <span class="title" *ngIf="this.AppointmentDate">{{ this.appointment }}</span>
		    <span class="nutri">{{ this.AppointmentDate }}</span>
		</ion-card-header>
	    <ion-card-content>
	    </ion-card-content>
	</ion-card>
	<ion-card *ngIf="!patientData.evaluationAnswered">
		<ion-card-content>
			<ion-row padding-bottom>
				<ion-col col-12 text-left no-padding>
					<span class="alert">
						Agilize sua consulta, respondendo o questionário de frequência alimentar!
					</span>
				</ion-col>
			</ion-row>
			<ion-row padding-bottom *ngIf="!patientData.evaluationAnswered">
				<ion-col col-12 text-left no-padding>
					<button ion-button icon-end round full (click)="openEvaluation()">
					  	Responder questionário
					  	<ion-icon name="clipboard" large></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="hasQuestions">
		<ion-card-header text-wrap>
			<span class="title">{{ this.nutriData.name  + ' perguntou:' }}</span>
		</ion-card-header>
		<ion-card-content *ngFor="let question of questionsList">
			<ion-row padding-bottom>
				<ion-col col-12 text-left no-padding>
					<span class="nutri">{{ question.desc }}</span>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-9 no-padding>
					<ion-item no-padding>
						<ion-input type="text" placeholder="Resposta" (ngModel)="questionsAnswer[question.key]" (change)='onChangeAnswer($event.target.value, question.key)'></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-3 *ngIf="!questionsSaved[question.key]">
					<button ion-button color="secondary" small (click)="submitAnswer(question.key)">
						Enviar
					</button>
				</ion-col>
				<ion-col col-3 *ngIf="questionsSaved[question.key]">
					<button ion-button color="primary" small>
						Enviado
					</button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="hasTips">
		<ion-card-header text-wrap>
			<span class="title">{{ ' Dicas de ' + this.nutriData.name }}</span>
		</ion-card-header>
		<ion-card-content *ngFor="let tip of tipsList">
			<ion-row padding-bottom>
				<ion-col col-2 text-start no-padding>
					<ion-icon name="information-circle" class="custom-icon"></ion-icon>
				</ion-col>
				<ion-col col-10 text-left no-padding>
					<span class="nutri">{{ tip.desc }}</span>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>
